body { font-family: 'SF Pro KR', 'SF Pro Text', 'SF Pro Icons','Apple Gothic'; font-size: 16px; font-weight: 400; line-height: 1.5; letter-spacing: normal; text-align: center; color: rgb(29, 29, 31); -webkit-font-smoothing: antialiased; -webkit-box-direction:normal; }


 
/* text style */
h1 {}
h2 { font-size: 56px; line-height: 66px; font-weight: 600; color: rgb(245, 245, 247); }
h3 { font-size: 28px; line-height: 31px; font-weight: 400; color: rgb(245, 245, 247); letter-spacing: 0.112px; }
h4 { font-size: 56px; line-height: 66px; font-weight: 600; color: rgb(29, 29, 31); }
h5 { font-size: 28px; line-height: 31px; font-weight: 400; color: rgb(29, 29, 31); letter-spacing: 0.112px; }
h6 { font-size: 21px; line-height: 26px; color: rgb(245, 245, 247); letter-spacing: 0.036px; }
p { font-size: 17px; line-height: 27px; }
a { font-size: 21px; line-height: 32px; color: rgb(0, 102, 204); letter-spacing: 0.231px;}



/* Web font */

/* 한국어 전용 웹폰트 */
@font-face { font-family: 'SF Pro KR'; src: url(../font/SFProKRDisplay_light.woff2) format('woff2'); font-weight: 300; }

@font-face { font-family: 'SF Pro KR'; src: url(../font/SFProKRDisplay_regular.woff2) format('woff2'); font-weight: 400; }

@font-face { font-family: 'SF Pro KR'; src: url(../font/SFProKRDisplay_semibold.woff2) format('woff2'); font-weight: 600; }

@font-face { font-family: 'SF Pro KR'; src: url(../font/SFProKRDisplay_bold.woff2) format('woff2'); font-weight: 700; }

/* 본문용 웹폰트 */
@font-face { font-family: 'SF Pro Text'; src: url(../font/sf-pro-text_regular.woff2) format('woff2'); font-weight: 400; }

@font-face { font-family: 'SF Pro Text'; src: url(../font/sf-pro-text_semibold.woff2) format('woff2'); font-weight: 600; }

@font-face { font-family: 'SF Pro Text'; src: url(../font/sf-pro-text_bold.woff2) format('woff2'); font-weight: 700; }

@font-face { font-family: 'SF Pro Text'; src: url(../font/sf-pro-text_heavy.woff2) format('woff2'); font-weight: 900; }

/* 제목용 웹폰트 */
@font-face { font-family: 'SF Pro Display'; src: url(../font/sf-pro-display_regular.woff2) format('woff2'); font-weight: 400; }

@font-face { font-family: 'SF Pro Display'; src: url(../font/sf-pro-display_semibold.woff2) format('woff2'); font-weight: 600; }

@font-face { font-family: 'SF Pro Display'; src: url(../font/sf-pro-display_bold.woff2) format('woff2'); font-weight: 700; }

@font-face { font-family: 'SF Pro Display'; src: url(../font/sf-pro-display_heavy.woff2) format('woff2'); font-weight: 900; }

/* 아이콘 웹폰트 */
@font-face { font-family: 'SF Pro Icons'; src: url(../font/sf-pro-icons_light.woff2) format('woff2'); font-weight: 300; }

@font-face { font-family: 'SF Pro Icons'; src: url(../font/sf-pro-icons_regular.woff2) format('woff2'); font-weight: 400; }




@media screen and (max-width:1068px ) {
    
    h2 { font-size: 48px; line-height: 56px; }
    h3 { font-size: 24px; line-height: 31px; letter-spacing: 0.112px; }
    h4 { font-size: 48px; line-height: 56px; }
    h5 { font-size: 24px; line-height: 31px; letter-spacing: 0.112px; }
    h6 { font-size: 19px; line-height: 25px; letter-spacing: 0.036px; }
    p { font-size: 17px; line-height: 27px; }
    a { font-size: 19px; line-height: 25px; letter-spacing: 0.231px;}

}

@media screen and (max-width:734px ) {
    
    h2 { font-size: 32px; line-height: 39px; }
    h3 { font-size: 19px; line-height: 29px; letter-spacing: 0.228px; }
    h4 { font-size: 32px; line-height: 39px; }
    h5 { font-size: 19px; line-height: 29px; letter-spacing: 0.228px; }
    h6 { font-size: 19px; line-height: 25px; }
    p { font-size: 14px; line-height: 22px; }
    a { font-size: 19px; line-height: 25px; letter-spacing: 0.231px;}

}