* { margin: 0; padding: 0; box-sizing: border-box; word-break: keep-all; }
ul { list-style: none; }
a { text-decoration: none; }
div, ul, li a { background-size: cover; background-repeat: no-repeat; background-position: center center; }
a:hover { cursor: pointer; }